<h4>Current player is {{game.currentPlayer}}</h4>
<h4>My id is {{game.id}}</h4>
<h4>The current turn is {{game.turn}}</h4>

<button ng-click="roll()" ng-disabled="game.rolls > 2">Roll</button>

<div class="dice-wrapper">
	<div class="dice" 
		ng-repeat="die in dice" 
		ng-click="toggleHold($index)"
		ng-class="{hold:die.hold}">
		{{die.val}}
	</div>
</div>

{{game.rolls}}


<div class="scorecard" ng-repeat="scorecard in game.scorecards"> 
	<h2>{{scorecard.name}}, {{scorecard.id}}</h2>
	<div ng-class="{scored:score.isScored}" ng-repeat="score in scorecard.upperScores" ng-click="submitScore(score, scorecard.id)">
		{{score.name}}, {{tally(score.tally, scorecard.id)}}
	</div>
	<div ng-repeat="score in scorecard.upperTotal">
		{{score.name}}, {{score.score()}}
	</div>
	<div ng-class="{scored:score.isScored}" ng-repeat="score in scorecard.lowerScores" ng-click="submitScore(score, scorecard.id)">
		{{score.name}}, {{tally(score.tally, scorecard.id)}}
	</div>
	<div ng-repeat="score in scorecard.upperTotal">
		{{score.name}}, {{score.score()}}
	</div>
</div>



<ng-include src="'/views/chatbox.html'"></ng-include>